{% extends "base.html" %}

{% block title %}
    得点
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <th>順位</th>
            <th>チーム</th>
            <th>競泳</th>
            <th>飛び込み</th>
            <th>水球</th>
            <th>マラソンスイミング</th>
            <th>アーティスティックスイミング</th>
            <th>合計</th>
        </thead>
        <tbody>
            {% for score in scores %}
                <tr>
                    <td>{{ score.rank }}</td>
                    <td>{{ score.team }}</td>
                    <td>{{ score.swimming }}</td>
                    <td>{{ score.diving }}</td>
                    <td>{{ score.water_polo }}</td>
                    <td>{{ score.marathon_swimming }}</td>
                    <td>{{ score.artistic_swimming }}</td>
                    <td>{{ score.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
